.wrapper {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-content: center;
    width: 300px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.50);
    padding: 50px;

}

.input-label {
    font-family: 'Long Cang', cursive;
    font-size: 26px;
    letter-spacing: 3px;
}

input {
    border: none;
    border-bottom: black 1px solid;
    margin: 20px 50px 20px 50px;
    font-family: 'Long Cang', cursive;
    font-size: 18px;
    text-align: center;
}

input:focus {
   outline: none;
}

.submit-btn {
    background: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-content: center;
    border: none;
}

.submit-btn:hover{
    color: blueviolet;
    cursor: pointer;
}

.submit-btn:focus {
    outline: none;
}

.btn-text {
    font-family: 'Long Cang', cursive;
    font-size: 24px;
    letter-spacing: 3px;

}

textarea {
    border: none;
    height: 50px;
    font-family: 'Long Cang', cursive;
    font-size: 20px;
    resize: none;
}